@tailwind base; /* untuk menyertakan aturan CSS dasar (padding, margin etc) */
@tailwind components; /* untuk mengimport component component interface*/
@tailwind utilities; /* Agar dapat menambahkan syntax atau class class utility tailwind kedalam element html */

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
